:root {font-family: 'Roboto', sans-serif;
    color: #434455;
    text-decoration: none;
    background-color: #FFFFFF}

.header-one{line-height: 1.07;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;}
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;}
.logo-one {color: #2e2f42}
.logo-two {color: #f4f4fd}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.nav:focus {color: #404bbf;}
.nav:hover {
    color: #404bbf;
}
.contact-nav {font-style: normal;}
.contact {font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;}

.nav{color:#2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;}
   
.contact:focus {color:#404bbf;}
.contact:hover {
    color: #404bbf;
}

.button {background-color: #4D5AE5;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    }
.button:focus {background-color:#404BBF;}
.button:hover {
    background-color: #404BBF;
}
.principlesoverall {
    list-style: none;    
}
.header-three {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;}   
.text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}     
.header-two {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    line-height: 1.11;}
.section-four {background-color: #F4F4FD;}

.teamjob {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455
}
.footer-desc{
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.filter:hover {background: #404BBF;
    border: 1px solid #E7E9FC;
    color: #FFFFFF;
     }
.filter:focus {
        color: #FFFFFF;
        background: #404BBF;
        border: 1px solid #E7E9FC;
    }
.filter {font-family: "Roboto", sans-serif;
         font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #4d5ae5;
        background-color: #F4F4FD;
        cursor: pointer;
}
.link {text-decoration: none;}
.list {list-style: none;}
.section-one {background-color:#2e2f42;}
.footer{background-color:#2e2f42;}










